#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.photo {
  width: 317px;
  border-radius: 10px 10px 0px 0px;
}

.card {
  background: #1A1B21;
  color: #fff;
  width: 317px;
}

.name {
  margin-top : 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.job {
  margin-top: -20px;
font-style: normal;
font-weight: 400;
font-size: 12.8px;
line-height: 15px;
text-align: center;

color: #F3BF99;

}

.web {
  margin-top: -10px;
  font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
/* identical to box height, or 15px */

text-align: center;

color: #F5F5F5;

}

.about-box {
  width: 247px;
margin: 0 auto;
}

.about {
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* or 24px */
text-align: start;

color: #F5F5F5;
}

.about-text {
  font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
text-align: start;
margin-top: -10px;
color: #DCDCDC;

}

.socmed {
  background: #161619;
border-radius: 0px 0px 10px 10px;
display: flex;
justify-content: space-between;
padding: 20px;
}


.logo {
  margin: auto;
}